.LogoTweek {
  height: 64px !important;
  background-color: white !important;
  padding: 7px !important;
  width: 79px !important;
}

.navbar-brand-box {
  background-color: white !important;
  border-right: 0.2px solid #2a3042 !important;
}
